.DS_Store
isdigram/antiguo/api.1/node_modules
isdigram/antiguo/api.2/node_modules
isdigram/antiguo/api.3/node_modules

isdigram/antiguo/app.1/node_modules
isdigram/antiguo/app.2/node_modules
isdigram/antiguo/app.3/node_modules
isdigram/antiguo/app.4/node_modules

isdigram/antiguo/api.1/node_modules
isdigram/antiguo/api.2/node_modules
isdigram/antiguo/api.3/node_modules

isdigram/antiguo/app.1/dist

isdigram/api/node_modules
isdigram/app/node_modules
isdigram/com/node_modules


project/api/.env
.vscode/settings.json



