@use '../index.sass'

main
margin: 0 40
padding: 0 5vw

footer
    position: fixed
    bottom: 0
    width: 100%
    display: flex
    justify-content: center
    padding: 10px
    box-sizing: border-box
    background-color: white

img
    max-width: 100%

#create-post-section
    display: none
    margin-bottom: 50px
    position: fixed
    bottom: 0
    left: 0
    background-color: white
    width: 100%
    box-sizing: border-box
    padding: 5vw

#post-list-section
    margin-bottom: 50px

#chat-section
    display: none

.user-list__item--online::marker
    color: limegreen

.user-list__item--offline::marker
    color: tomato

#home-button
    display: none

#menu-nav
    display: flex

#logo 
    width: 5vw
